{% extends 'layout/layout.html' %}
{% load static %}

{% block title %}Change Password - LeadSync{% endblock %}

{% block content %}
<div class="container">
    <div class="main-content d-flex flex-column p-0">
        <div class="m-auto m-1230">

            <div class="row align-items-center">
                <div class="col-lg-6 d-none d-lg-block">
                    <img src="{% static 'assets/img/login.jpg' %}" class="rounded-3" style="height: 550px" alt="login">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="card shadow border-0">

            <div class="card-body p-5">
                <div class="mw-480 ms-lg-auto">
                                <div class="d-inline-block mb-4">
                                 <a href="{% url 'home' %}" aria-label="Go to home page">
                                    <img src="{% static 'assets/img/leadlogobg.png' %}" class="rounded-3 for-light-logo"
                                        alt="LeadSync" style="width: 180px;">
                                    <img src="{% static 'assets/img/white-logo.svg' %}"
                                        class="rounded-3 for-dark-logo" alt="LeadSync">
                                 </a>
                                </div>
                                <h3 class="fs-28 mb-2">Password Changed Successfully!</h3>


                <p class="text-muted mb-4">
                    Your password has been updated. You can now continue using LeadSync with your new password.
                </p>

                <div class="d-grid gap-2">
                    <a href="{% url 'profile' %}" class="btn btn-primary">
                        <i class="fas fa-user me-1"></i>Back to Profile
                    </a>
                    <a href="{% url 'dashboard' %}" class="btn btn-outline-secondary">
                        <i class="fas fa-tachometer-alt me-1"></i>Go to Dashboard
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}