{% load static %}


<!-- jQuery -->
<script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>

<!-- Feather Icon JS -->
<script src="{% static 'assets/js/feather.min.js' %}"></script>

<!-- Slimscroll JS -->
<script src="{% static 'assets/js/jquery.slimscroll.min.js' %}"></script>

<!-- Bootstrap Core JS -->
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

<!-- Chart JS -->
<script src="{% static 'assets/plugins/apexchart/apexcharts.min.js' %}"></script>

<!-- Sweetalert 2 -->
<script src="{% static 'assets/plugins/sweetalert/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'assets/plugins/sweetalert/sweetalerts.min.js' %}"></script>

<!-- Custom JS -->
<script src="{% static 'assets/js/theme-script.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>


<!--&lt;!&ndash; Link Of JS File &ndash;&gt;-->
<!--<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>-->
<!--<script src="{% static 'assets/js/sidebar-menu.js' %}"></script>-->
<!--<script src="{% static 'assets/js/dragdrop.js' %}"></script>-->
<!--<script src="{% static 'assets/js/rangeslider.min.js' %}"></script>-->
<!--<script src="{% static 'assets/js/quill.min.js' %}"></script>-->
<!--<script src="{% static 'assets/js/data-table.js' %}"></script>-->
<!--<script src="{% static 'assets/js/prism.js' %}"></script>-->
<!--<script src="{% static 'assets/js/clipboard.min.js' %}"></script>-->
<!--<script src="{% static 'assets/js/feather.min.js' %}"></script>-->
<!--<script src="{% static 'assets/js/simplebar.min.js' %}"></script>-->
<!--<script src="{% static 'assets/js/apexcharts.min.js' %}"></script>-->
<!--<script src="{% static 'assets/js/echarts.min.js' %}"></script>-->
<!--<script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>-->
<!--<script src="{% static 'assets/js/fullcalendar.main.js' %}"></script>-->
<!--<script src="{% static 'assets/js/jsvectormap.min.js' %}"></script>-->
<!--<script src="{% static 'assets/js/world-merc.js' %}"></script>-->
<!--<script src="{% static 'assets/js/moment.min.js' %}"></script>-->
<!--<script src="{% static 'assets/js/lightpick.js' %}"></script>-->
<!--<script src="{% static 'assets/js/custom/apexcharts.js' %}"></script>-->
<!--<script src="{% static 'assets/js/custom/echarts.js' %}"></script>-->
<!--<script src="{% static 'assets/js/custom/custom.js' %}"></script>-->